@import './_imports/_importMaster';

.tile,
.card {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
}

.card {
  padding: $space-med $space-big;
  background: white;
  box-shadow: $box-shadow-card;
  border-radius: $border-radius;
  color: #000;
  margin-bottom: 10px;
  overflow: hidden;
  word-break: break-word;

  @include tiny-screen {
    padding: $space-med;
  }

  .discrete-link {
    color: $grey;
    font-style: italic;
    font-size: 0.8em;
    display: inline-block;
  }

}

.frame {
  padding: $space-med;
  border: 1px solid $grey;
  @include flex(column, null, null);

  p {
    flex: 1;
    margin: 0;
  }
}

.box:not(.project) {
  margin: $space-med 0;
  width: 100%;
  @include flex(column, null, null);

  @include small-screen-and-up() {
    width: 50%;

    &:first-child {
      padding-right: 2vw;
    }

    &:last-child {
      padding-left: 2vw;
    }
  }
}