.inline {
    @include small-screen-and-up {
        @include flex(row, null, flex-start);
        margin-bottom: 1rem;
        
        .form-group {
            flex-grow: 1;
            margin-bottom: 0;
        }

        label {
            flex-grow: 1;
            margin: 0;
        }

        .btn {
            margin-left: 2rem;
            margin-top: 2rem;
        }
    }
    @include tiny-screen{
        .btn{
            width:100%;
        }
    }
}

.form-group {
    margin-bottom: $space-small;
}

.invalid-feedback {
    display: inline;
    color: $color-warning;
}

.help-text {
    font-style: italic;
    font-size: 1.4rem;
    padding: 1rem 1rem 0;
}

label {
    color: lighten($black, 5%);
    display: block;

    .label-text:not(.label-muted) {
        font-weight: 700;
        padding-left: 1rem;
    }

    &.small {
        color: $dimmed-grey;
    }
}

::-webkit-input-placeholder {
    font-style: italic;
}

:-ms-input-placeholder {
    font-style: italic;
}

::placeholder {
    font-style: italic;
}

input[type="email"],
[type="text"],
[type="password"],
[type="url"],
textarea {

    width: 100%;
    display: block;
    border-radius: $border-radius;
    padding: 1rem;
    border: solid 1px $light-grey;
    will-change: background-position;
    transition: all 0.3s cubic-bezier(.64, .09, .08, 1);
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.25);
    font-size: $font-med;

    &:disabled {
        border: 0;
        box-shadow: none;
        background: transparent;
        color: #000;
        padding-left: 0;
        padding-right:0;
    }

    &:active,
    &:focus {
        box-shadow: inset 1px 3px 1px rgba(0, 0, 0, 0.25);
    }

    &:focus,
    &:valid {
        outline: none;
        background-position: 0 0;

        &::-webkit-input-placeholder {
            color: $grey;
        }
    }

    &::-webkit-input-placeholder {
        transition: all 0.2s $cubic;
    }
    @include tiny-screen{
        font-size:$font-small;
    }
}