@mixin flex($flex-direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin flex-child($flex-grow, $flex-shrink, $flex-basis) {
  flex-grow: $flex-grow;
  flex-shrink: $flex-shrink;
  flex-basis: $flex-basis;
}

@mixin tiny-screen {
  @media (max-width: #{$tiny-screen-width}) {
    @content;
  }
}

@mixin small-screen {
  @media (min-width: #{$tiny-screen-width + 1px}) and (max-width: #{$small-screen-width}) {
    @content;
  }
}

@mixin medium-screen {
  @media (min-width: #{$small-screen-width + 1px}) and (max-width: #{$medium-screen-width}) {
    @content;
  }
}

@mixin large-screen {
  @media (min-width: #{$medium-screen-width + 1px}) {
    @content;
  }
}

@mixin small-screen-and-up {
  @media (min-width: #{$tiny-screen-width + 1px}) {
    @content;
  }
}

@mixin medium-screen-and-up {
  @media (min-width: #{$small-screen-width + 1px}) {
    @content;
  }
}


@mixin sidebar-width($attr) {
  @include tiny-screen {
    #{$attr}: $sidebar-width-small;
  }

  @include small-screen-and-up {
    #{$attr}: $sidebar-width;
  }
}

@mixin box-spacing($attr) {
  @include tiny-screen {
    #{$attr}: $space-med;
  }

  @include small-screen-and-up {
    #{$attr}: $space-med $space-big;
  }
}

@mixin page-horizontal-spacing($attrs...) {
  @each $attr in $attrs {
    #{$attr}: $space-med;
  }

  @include medium-screen-and-up {
    @each $attr in $attrs {
      #{$attr}: 10%;
    }
  }


  // @include small-screen {
  //   @each $attr in $attrs {
  //     #{$attr}: $space-big;
  //   }
  // }

  // @include medium-screen-and-up {
  //   width: $tiny-screen-width;
  //   margin-left: 10%;
  //   margin-right: 10%;
  // }
}