// Type
$serif: 'Roboto Slab',
serif !default;
$sans: 'Work Sans',
sans-serif !default;
$font-tiny: 1rem !default;
$font-small: 1.2rem !default;
$font-med: 1.6rem !default;
$font-big: 2rem !default;
$font-huge: 3.2rem !default;
$line-height: 130% !default;

// Decorative
$box-shadow-card: 0 2px 5px 0 rgba(0, 0, 0, 0.1),
0 2px 10px 0 rgba(0, 0, 0, 0.07) !default;
$box-shadow-float: 0 2px 5px 0 rgba(0, 0, 0, 0.14),
0 2px 10px 0 rgba(0, 0, 0, 0.1) !default;
$box-shadow-float-hover: 0 5px 11px 0 rgba(0, 0, 0, 0.16),
0 4px 15px 0 rgba(0, 0, 0, 0.13) !default;
$box-shadow-raised: 0 2px 5px 0 rgba(0, 0, 0, 0.14),
0 2px 10px 0 rgba(0, 0, 0, 0.1) !default;
$box-shadow-raised-hover: 0 5px 11px 0 rgba(0, 0, 0, 0.16),
0 4px 15px 0 rgba(0, 0, 0, 0.13) !default;

$cubic: cubic-bezier(.64, .09, .08, 1) !default;

$border-radius: 3px !default;

// Spacing
$space-big: 4rem !default;
$space-med: 2rem !default;
$space-small: 1rem !default;

// Media Queries
$tiny-screen-width: 767px !default;
$small-screen-width: 990px !default;
$medium-screen-width: 1200px !default;
$large-screen-width: 1440px !default;

//Widths and heights
$sidebar-width: 300px !default;
$sidebar-width-small: 200px !default;
$topbar-height: 60px !default;

$project-menu-logo-width: 4.5rem;
$project-menu-logo-height: $project-menu-logo-width;