<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>
                <a asp-area="" asp-controller="Home"

        <!-- code omitted for clarity -->

        </ul>
        <ul class="nav navbar-nav navbar-right">
            @if (User.Identity.IsAuthenticated)
            {
                <li><a asp-controller="Home" asp-action="Index">Welcome @User.Identity.Name!</a></li>
                <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
            }
            else
            {
                <li><a asp-controller="Account" asp-action="Login">Login</a></li>
            }
        </ul>
    </div>
    @RenderBody()
</body>
</html>
