@import './_imports/_importMaster';

.tile,
.card {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
}

.card {
  padding: $space-med $space-big;
  background: white;
  box-shadow: $box-shadow-card;
  border-radius: $border-radius-small;
  color: #000;
  margin-bottom: 10px;
  overflow: hidden;
  word-break: break-word;

  .discrete-link {
    color: $grey;
    font-style: italic;
    font-size: 0.8em;
    display: inline-block;
  }

}

.frame {
  padding: 2rem;
  border: 1px solid $grey;
}